.info .sharer img {
    max-height: 35px;
}

.slick-arrow {
    position: absolute;
    bottom: -3em;
    background-color: #fff;
    color: #00a7ee;
    padding: .35em .7em;
    border-radius: 50%;
    font-size: 2em;
    box-shadow: 2px 2px 8px -2px rgba(0,0,0,0.3);
    transition-duration: .35s;
}

.register .eventos .slick-prev {
    left: 80%;
}

.slick-prev {
    left: 43%;
}

.eventos .heading {
    text-align: left;
}

.mix .heading {
    text-align: center;
}

.eventos article h3 {
    font-weight: 100;
    font-size: 1.4em;
}

.eventos article p {
    font-size: .95em;
}

.eventos article .fec {
    font-size: 1em;
}

small {
    font-size: 100%;
}

.c-green a  {
    color: #b8d200 !important;
}

.c-blue a {
    color: #0082d2 !important;
}

.c-darkblue a {
    color: #0b3e84 !important;
}

.c-red a {
    color: #b80e2f !important;
}
.hover-info{
	height: auto;
}
.hover-info.red, .hover-info.blue{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
}

.hover-info h2{
    font-size: 2em;
}
.slick-arrow{
    background-color: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0) !important;
}

.wpcf7-form-control-wrap {
position: relative;
float: left;
}


@media (max-width: 992px){
    .list-menu {
        display: none;
    }
}
@media (max-width:  769px){

    .hover-info.red, .hover-info.blue{
        font-size: .75em;
    }

    .fancybox-inner > div{
        background-position: 50%50%;
    }
    .fancybox-close.red, .fancybox-close.blue{
        top: -19px;
        right: -12px !important;
        width: 38px;
        height: 38px;
        font-size: .75em;
        background-image:none;
    }
}
@media (max-width: 480px){
    .eventos .slick-next {
            right: 31.5%;
    }
    .eventos .slick-prev{
        left: 24.5%;
    }
    .slick-arrow{
        bottom: -1.2em;
    }
    .register .eventos .slick-prev{
        left: 15%;
    }
    .register .eventos .slick-arrow{
        bottom: -2em;
    }
    .register .eventos .slick-next{
        left: 33%;
    }

    .hover-info h2{
            font-size: 1.5em;
    }
    .hover-info.red, .hover-info.blue{
        font-size: .7em;
        min-width: 230px
    }
    

.c-green a {
    color: #b8d200 !important;
    font-weight: bold;
    }

.c-blue a {
    color: #0082d2 !important;
    font-weight: bold;
    }

.c-darkblue a {
    color: #0b3e84 !important;
    font-weight: bold;
    }

.c-red a {
    color: #b80e2f !important;
    font-weight: bold;
    }   
        
}