/*Slider*/
.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}
/*Slick*/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
img
	max-width: 100%
body
	padding-top 85px
	background-image url("../img/back-full.png")
	background-position: 50% 0%
.slick-slide, .slick-slide img
	outline none !important
.c-darkblue
	color #0b3e84 !important
.c-blue 
	color #0082d2 !important
.c-green
	color #b8d200 !important
.c-red
	color #b80e2f !important
.heading
	color #6c6c6c
	font-size 2.3em
.snd
	position:absolute
	z-index 999
	right 0
	bottom 1em
	.toggle, input
		float left
	button 
		border 0 
		background-color: #FFF
@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold.eot');
	src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Generated by FG **/
@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/Gotham-Book.eot');
	src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Generated by FG **/
@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/Gotham-Medium.eot');
	src: local('☺'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
#wpadminbar, .unslider-nav
	display none !important
.unslider-arrow.next
	left: auto;
	right: -2%;
.unslider li
	max-height: 580px;
.unslider-arrow
	position: absolute;
	left: -2%;
	z-index: 2;
	cursor: pointer;
	font-size: 3em;
	color: #999;
	top: 45%;
.hover-info
	padding: 1em 2em 1em 2em;
	font-family: 'Gotham-Book';
	width: 50%;
	max-height: 100%;
	height: 100%;
	overflow-y: auto;
	h2
		font-family 'Gotham-Medium'
		color rgb(186, 216, 0)
		font-size: 2.5em;
.hover-info.red 
	float left
	text-align left
.hover-info.blue  
	float right
	text-align right
.fancybox-inner > div 
	position relative 
	display block
	float: left;
	width: 100%;
	height: 100%;
	background-size: cover;
.fancybox-close
	top: 50%;
header
	padding .5em 0
	box-shadow 1px 1px 5px 3px rgba(0,0,0,0.1)
	z-index 9999
	position fixed
	top 0
	left 0
	width 100%
	background-color: #FFF
	font-family: 'Gotham-Book';
	font-size .85em
	.logo
		margin 0 2em 0 0
	ul 
		padding 0
		margin 1.3em 0 0 0
		list-style: none 
		font-size: 1.3em
		li 
			display inline-block
			a 
				color #909090
				display block
				padding .5em .5em
				transition-duration 0.35s
				
			a:hover
				text-decoration none
				color #333
	button, input
		border 1px solid #cacaca
		background-color: #FFF
		padding .4em
		outline none
		color #666
	input 
		width 17px
		border-top-left-radius 20px
		border-bottom-left-radius 20px
		border-right 0
		
	button 
		width: 17px;
		border-left: 0;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		i 
			display inline-block
			margin-left -1em
		
	.search-box 
		a 
			margin-top .5em
			margin-left 2em
		img 
			width 120px
		form
			margin-top 2em
			span
				font-size 1.3em
				line-height: 2em;
				margin-right .5em
				color #666
	form > div input
		transition-duration .5s
		color #fff 
	form > div:hover input
		width 130px
		padding-left 1em
		color #666
		font-style: italic
.unslider-nav
	display block
	text-align center
	ol
		display inline-block 
		li 
			float: left;
			font-size: 0;
			position: relative;
			height: 17px;
			width: 17px;
			border: 1px solid #d0cfcf;
			margin: 5px;
			border-radius: 50%;
			overflow: hidden;
			cursor: pointer;
			transition-duration 0.3s
		li:hover
			transform scale(1.4)
		
		li.unslider-active:after, li:hover:after
			content: "";
			position: absolute;
			width: 9px;
			height: 9px;
			margin: 3px;
			background-color: #0097ea;
			border-radius: 50%;
			left: 0;
		li:hover:after
			opacity: .8;
.slick-arrow
	position absolute
	bottom -3em
	background-color: #FFF
	color #00a7ee
	padding .35em .7em
	border-radius 50%
	font-size 1.35em
	box-shadow 2px 2px 8px -2px rgba(0,0,0,0.3)
	transition-duration 0.35s
.slick-arrow:hover
	color #046690
.slick-prev
	left 46%
.slick-next
	right 46%
.img-eventos
	display block 
	margin 0 auto 1.5em
	width: 250px;
	height: 250px;
	background-color #fff 
	background-repeat: no-repeat
	background-size: cover
	border-radius 50%
	overflow hidden
.eventos
	background-color: #f6f6f6
	padding 1em 0 8em
	.heading
		text-align center
	
	.indice
		display block 
		margin 0 auto
		width 40px 
		height 40px 
		border 4px solid #999
		border-radius 50%
		font-size 1.65em
		text-align center
		color #999
		position absolute
	article
		padding 0 1.5em 0 3.5em
		font-size .9em
		h3 
			font-weight: 100
			font-size 1em
		.fec
			font-size .95em
		small , p
			color #999
		p 
			font-size .85em
.mix 
	padding 1.3em 0
	background-color: #FFF
	.heading
		text-align center
	article
		border 1px solid #ededed
		padding 1em
		position relative
		border-radius 6px
		margin-bottom 2em
		
		h4
			margin-top 0
			line-height 1em
			padding-left 2.3em
			small
				color #999
		.stick 
			position absolute 
			right -.55em
			top .5em
		p 
			font-size .85em
		hr 
			margin .5em 0 .8em
		div.date
			display block
			font-size .8em
			text-align right
	.circles
		position relative
		height 400px
	.circle
		width: 230px;
		height: 230px;
		position: absolute;
		border-radius: 50%;
		text-align center
		color #fff
		font-size 1.7em
		transition-duration 0.5s
		span
			position absolute
			left 0
			width 100%
			top 20%
			line-height 2em
			font-size .9em
		img 
			max-width 75px
	.circle:hover
		transform scale(1.2)
		z-index 999 !important
	.circle.yellow
		background-color: rgba(186, 216, 0, 0.91);
		top: 5%;
		z-index: 99;
		left: 16%;
	.circle.blue 
		background-color: rgba(0, 155, 211, 0.81)
		top: 22%;
		left: 50%;
		z-index: 98;
	.circle.red  
		background-color: rgba(239, 23, 53, 0.84);
		top: 53%;
		z-index: 100;
		left: 22%;

	
footer
	background-color: #009cdd
	color #fff
	
	.bg-white
		background-color: #FFF
		text-align center
		padding: 4em 0 4em;
	.bg-blue
		padding 2em 0
		color rgba(255, 255, 255, .95)
		a
			color #fff
		.social
			font-size 1.8em
			margin-top .3em
			a
				margin-left .3em
.box-form-contact
	overflow-x hidden
	padding-top 1em
	input, select, textarea
		float: left;
		width: 100%;
		padding: .4em .7em;
		font-family: 'Gotham-Book';
		height: 35px;
		margin-bottom: 1em;
		border: 1px solid #ededed;
		outline: none;
		box-shadow: 1px 1px 7px -3px rgba(0,0,0,0.3);
		transition-duration: .5s;
	textarea
		height 220px
	.box-form
		padding 0 2em 1em 2em				 
.box-heading
	background-color: #009bde
	color #fff
	padding 2em 0
	background-image: url(../img/background-eventos-azul.png);
	background-repeat: no-repeat;
	background-size: 64%;
	background-position: 153% 59%;
	h1 
		margin-top 0
		font-size 3em
		max-width 700px
		line-height 1.2em
		font-family 'Gotham-Book'
		margin-bottom .1em
	h3 
		margin-bottom 0
		font-family 'Gotham-Book'
		font-weight 100
	a 
		color #fff
div.clear
	clear both
.detail
	background-color: #d6d6d6
	
	.lugar, .horario
		background-color: #e5e5e5
		width 80%
		padding 1.5em 0
		
		h4, small
			padding-left 25px
			color #999
		h4 
			margin 0 0
			font-family 'Gotham-Book'
			font-size .9em
			color #666
	.horario
		width 20%
		background-color: transparent
		h4, small
			padding-left 0
.info
	background-color: #FFF
	article, .libro
		padding-top 4em
	article
		font-family 'Gotham-Book'
		color #666
		font-size 1em
		line-height 1.8em
		text-align justify
	.libro
		text-align center
		max-width 200px
		margin 1em auto 0
	.sharer
		a:hover
			text-decoration none
		img 
			max-height 25px
	padding-bottom 4em
.register
	border-top 2px solid rgba(0, 0, 0, .1)
	border-bottom 2px solid rgba(0, 0, 0, .1)
	padding-top 1.5em
	padding-bottom 1.5em
	.box-form
		padding-right 2em
	input, select 
		float left 
		width 100%
		padding .4em .7em 
		font-family 'Gotham-Book'
		height 35px
		margin-bottom 2em
		border 1px solid #ededed
		outline none
		box-shadow: 1px 1px 7px -3px rgba(0,0,0,0.3);
		transition-duration 0.5s
	input:focus, select:focus
		box-shadow: 1px 1px 7px -3px rgb(193, 214, 46);
	input[type="submit"]
		background-color: #b80e2f
		display block
		max-width 150px 
		color #fff 
		font-family 'Gotham-Book'
		margin 0 auto
		float none
		font-size .8em
		margin-top 1em
	h2
		font-family 'Gotham-Medium'
		font-size 1.7em
		margin-bottom 1.7em
	.eventos 
		background-color: transparent
		text-align center
		line-height 1.8em
		padding-bottom 2em
		article
			padding: 0 1.5em 0 1.5em;
		a.img-eventos
			width 190px 
			height 190px
		h3 
			font-family 'Gotham-Medium'
			margin 0
		p 
			margin 0
		.slick-arrow
			bottom 117%
		.slick-next 
			right 0
		.slick-prev
			left 83.5%	
.cronograma
	padding 1.5em 0
	background-color: #FFF
	.heading 
		font-family 'Gotham-Book'
		font-size: 1.7em;
	article 
		padding-top 1em
		overflow hidden
	.two-col > ul
		list-style: none
		padding 0
		font-size 1.2em			
		font-family 'Gotham-Medium'
		margin 0
		h3
			margin 0
			font-size 1em
			font-weight 100
		strong
			display block
			font-family 'Gotham-Book'
			font-weight 100
			font-size .75em
			color #666
		li 
			margin-bottom 1em
			position relative
			padding-left 3em
			padding-right 3em
			font-size .85em
			color #666
			span 
				position absolute
				color #999
				top 0
				left 0
				font-size 1.3em
				width 35px 
				height 35px
				border 3px solid #999
				border-radius 50%
				text-align center
	.address
		padding 1.8em 0
		h2 
			color #666
			font-family 'Gotham-Medium'

.viewbox
	h2
		font-family 'Gotham-Bold'
	font-family 'Gotham-Book'
.viewbox .panel
	background-color: rgba(0, 0, 0, 0.82) !important; 
	h3
		margin-top .2em
	.number
		color #fff !important
.noticias
	padding 3em 0
	.niceGallery ul.entries-columns
		padding 0
		img 
			height 150px
	.niceGallery ul.entries-columns li h4
		margin 0
		font-weight 100
		font-family 'Gotham-Book'
		font-size .8em
	.niceGallery ul.entries-columns li a .show
		display none !important
	.niceGallery ul.entries-columns li
		margin: 0 0 -2px;
	.niceGallery ul.entries-columns
		-webkit-column-count: 5;
		-webkit-column-gap: 3px;
		-moz-column-count: 5;
		-moz-column-gap: 3px;
		column-count: 5;
		column-gap: 3px;
	.img-eventos
		width 230px
		height 230px
		margin-top 1em
	small 
		font-size .75em
		color #999
		font-family 'Gotham-Book'
		margin-top 
	h2
		font-family 'Gotham-Book'
		font-size 1.7em
	.latest-news
		padding .5em 0 2em
		font-size .9em
		h2 
			line-height 1.25em
			font-weight 100
			font-size 1.2em
			letter-spacing 1px
			a 
				font-family 'Gotham-Medium'
		a 
			color #666
			font-family 'Gotham-Book'
		.box 
			margin-bottom 2em
			article
				line-height 1.35em
.youtube
	background-color: #FFF
	#youtube-media-viewer
		margin-bottom 2em
	h2
		font-size 1.7em
	iframe
		width 100%
		height 350px
	.video-item
		float left
		width 40%
		margin 0 5%
		font-size .8em
		text-align center
		cursor pointer
		opacity .6
		transition-duration 0.5s
		line-height 1.2em
		img 
			margin-bottom 1em
		span 
			margin-bottom 2em
			display block
	.video-item.active, .video-item:hover
		opacity 1
	.btns 
		text-align center 
	.btn
		font-size 1.3em
		color #666
	.btn:hover
		text-decoration none
#nav-icon3{
	width: 30px;
	height: 24px;
	position: relative;
	margin: 2.2em auto 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display none
}

#nav-icon3 span {
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	background: #000000;
	border-radius: 0;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
	top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 9px;
}

#nav-icon3 span:nth-child(4) {
	top: 18px;
}

#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	}

#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.libro
	padding-top 2em
	.heading 
		font-size 1.75em
		margin-bottom 1.5em
	article
		font-size .9em
		margin-bottom 3em
		img 
			max-width 180px
			display block
			margin 0 auto
		h2 
			font-family 'Gotham-Book'
			color #666
		p 
			font-family 'Gotham-Book'
		.btn-download, .btn-line
			font-family 'Gotham-Medium'
			margin-top 2em
			display inline-block
		.btn-download
			margin-right 5em
		.btns
			text-align left
.diapo
	article
		h3, h4
			font-family 'Gotham-Book'
			margin 0 0 .3em
		h4
			font-size 1em
			margin-bottom 1em
		h3
			font-size 1.35em
			color #666
			font-weight: 100
		.row
			margin-bottom 2em
		color #666
	article img 
		max-width 75px
		display block
		margin .8em auto 0
	article .btn-download
		margin-top 0

.unslider li
	position relative
.opa
	position absolute
	width 100%
	height 100%
	background-color: rgba(255, 255, 255, 1)
	top: 0;
	left 0
.infografia
	z-index 998
	background-color: #FFF
	.abs 
		position: absolute;
		z-index 999
	.unslider
		span 
			position: absolute;
	.curve
		display none
		z-index 99
	.info1
		.curve-gris-one
			left: 58.68%;
			top: 37.7%;
			width: 3.2%;
		.curve-gris-second
			left: 59.9%;
			top: 14.5%;
			width: 2.8%;
		.curve-blue-one
			left: 11.89%
			top: 76.7%;
			width: 4.9%;
		.curve-blue-second
			left: 82.3%;
			top: 81.7%;
			width: 2.4%;
		.curve-gris-one.start,.curve-gris-second.start, .curve-blue-one.start, .curve-blue-second.start
			display block
		#book
			left: 6%;
			top: 24%;
			width: 29%;
			-webkit-animation-duration: 1.5s;
			-webkit-animation-delay: .5s;
			transition-duration 0.5s
		#creacion
			width: 15%;
			top: 3%;
			left: 68%;
			z-index: 999;
			-webkit-animation-duration: 1s;
			-webkit-animation-delay: 8.5s;
			transition-duration 0.5s
		#seis
			left: 40%;
			top: 25%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 3s;
			transition-duration 0.5s
		#ocho 
			left: 58%;
			top: 69%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 6.5s;
			transition-duration 0.5s
		#implementacion
			left: 76.1%;
			top: 50%;
			width: 15%;
			z-index 999
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 11.5s;
			transition-duration 0.5s
		#seis-point, #seis-point-red, #ocho-point-blue, #ocho-point-red
			position: absolute;
			width: 20px;
			height: 20px;
			top: 37%;
			left: 46%;
			border-radius: 50%;
			background-color: #999;
			z-index: 99;
			-webkit-animation-duration: .5s;
			-webkit-animation-delay: .35s;
		#seis-point-red
			background-color #b90c2f
			left: 75%;
			top: 14%;
		#ocho-point-blue
			background-color: #009dde
			left: 64.5%;
			top: 83.5%;
		#ocho-point-red
			left: 82.9%;
			top: 63.5%;
			background-color: #b90c2f
		#seis:hover, #book:hover, #creacion:hover, #ocho:hover, #implementacion:hover
			transform scale(1.2)
		.line-gray, .line-blue
			top: 0;
			height 100%
			width 100%
			z-index 9
			span 
				position: absolute;
				height .55em 
				width 0%
				background-color: #75787b
		.line-gray
			
			.one 
				left 0
				top 38%
				transition-duration 2.5s
				transition-delay 1s
			.second
				left: 54%;
				top: 41.5%;	
				transition-duration 1s
				transition-delay 2.3s
			.third
				left: 60.35%;
				bottom: 60.5%;	
				transition-duration 2s
				transition-delay 3.8s
				width .55em
				height: 0
			.four
				left: 62.35%;
				top: 15%;
				transition-duration 2s
				transition-delay 5s
			.one.start
				width 47%
			.second.start
				width 5%
			.third.start
				height 21.5%
			.four.start	
				width 13%
		.line-blue
			span
				background-color: #009dde
			.one 
				left 0
				top: 54%;
				transition-duration 2.5s
				transition-delay 1s
			.second
				width: .9%;
				height: 0;
				left: 12.3%;
				top: 70%;	
				transition-duration .5s
				transition-delay .5s
			.third
				width: 0
				height: 1.4%;
				left: 16.5%;
				top: 84.9%;
				transition-duration 3s
				transition-delay 1.8s
				
			.four
				left: 72.35%;
				top: 85%;
				width: 0%
				transition-duration 2s
				transition-delay 6s
			.five
				left: 83.35%;
				bottom: 18%;
				width: .75%;
				height: 0
				transition-duration 2s
				transition-delay 8.8s
			.one.start
				width: 12.5%;
			.second.start
				height: 7.5%;	
			.third.start
				width: 47.9%;
			.four.start
				width 10%
			.five.start
				height: 16%;
	.info2
		.curve-gris-one
			left: 6.3%;
			top: 58.1%;
			width: 4.85%
		.curve-gris-second
			left: 57.2%;
			top: 37.5%;
			width: 2.1%;
		.curve-gris-third
			left: 58.3%;
			top: 12.6%;
			width: 1.7%;
		.curve-blue-one
			left: 59%;
			top: 75.7%;
			width: 3.1%;
		.curve-gris-one.start,.curve-gris-second.start, .curve-blue-one.start, .curve-blue-second.start,.curve-gris-third.start
			display block
		#book
			left: 7%;
			top: 8%;
			width: 29%
			-webkit-animation-duration: 1.5s;
			-webkit-animation-delay: .5s;
			transition-duration 0.5s
		#creacion
			width: 15%;
			top: 2%;
			left: 60%;
			z-index: 999;
			-webkit-animation-duration: 1.5s;
			-webkit-animation-delay: 9.3s;
			transition-duration 0.5s
		#seis
			left: 43%;
			top: 29%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 5s;
			transition-duration 0.5s
		#ocho 
			left: 25%;
			top: 66%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 2.8s;
			transition-duration 0.5s
		#implementacion
			left: 71.1%;
			top: 63%;
			width: 15%;
			z-index 999
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 7.6s;
			transition-duration 0.5s
		#seis-point, #seis-point-red, #ocho-point-blue, #ocho-point-red
			position: absolute;
			width: 20px;
			height: 20px;
			top: 39%;
			left: 48%;
			border-radius: 50%;
			background-color: #999;
			z-index: 99;
			-webkit-animation-duration: .5s;
			-webkit-animation-delay: .35s;
		#seis-point-red
			background-color #b90c2f
			left: 67%;
			top: 12.5%;
		#ocho-point-blue
			background-color: #009dde
			left: 31.5%;
			top: 79.5%;
		#ocho-point-red
			left: 77.5%;
			top: 74.5%
			background-color: #b90c2f
		#seis:hover, #book:hover, #creacion:hover, #ocho:hover, #implementacion:hover
			transform scale(1.2)
		.line-gray, .line-blue
			top: 0;
			height 100%
			width 100%
			z-index 9
			span 
				position: absolute;
				height .55em 
				width 0%
				
		.line-gray
			span 
				background-color: #b90b2e
			.one 
				left: 0;
				top: 65.5%;
				transition-duration 1.2s
				transition-delay 1.1s
			.second
				left: 8.5%;
				bottom: 41%;
				width: .65%;
				height 0
				transition-duration 1s
				transition-delay 3.1s
			.third
				left: 32.3%;
				top: 40.3%;	
				transition-duration 1.5s
				transition-delay 2s
				height: 1.2%;
			.four
				left: 58.5%;
				bottom: 62%;
				width: .62%;
				height 0
				transition-duration 1.4s
				transition-delay 5s
			.five
				left: 60%;
				top: 13.5%;
				height: 1.2%;
				transition-duration 1.5s
				transition-delay 7s
			.one.start
				width: 6.5%;
			.second.start
				height: 18.5%;
			.third.start
				width: 16.7%;
			.four.start	
				height: 22%;
			.five.start	
				width: 7%;
		.line-blue
			span
				background-color: #1d4f8f
			.one 
				left: 0;
				top: 80.5%;
				transition-duration 2.5s
				transition-delay 1s
			.second
				height: 1.2%;
				left: 38.3%;
				top: 80.5%;	
				transition-duration 2.2s
				transition-delay 4s
			.third
				width: 0
				height: 1.3%;
				left: 62%;
				top: 75.7%;
				transition-duration 2.5s
				transition-delay 4.9s
			.one.start
				width: 32.5%;
			.second.start
				width: 21%;	
			.third.start
				width: 16.9%;
	.info3
		.curve-gris-one
			left: 26.6%;
			top: 85.2%;
			width: 4.8%;
		.curve-gris-second
			left: 29.4%;
			top: 17.2%
			width: 3%;
		.curve-gris-third
			left: 66.75%;
			top: 16.6%;
			width: 4%;
		.curve-blue-one
			left: 14.1%;
			top: 70.7%;
			width: 4.65%;
		.curve-gris-one.start,.curve-gris-second.start, .curve-blue-one.start, .curve-blue-second.start,.curve-gris-third.start
			display block
		#book
			left: 4%;
			top: 11%;
			width: 29%;
			-webkit-animation-duration: 1.5s;
			-webkit-animation-delay: .5s;
			transition-duration 0.5s
		#creacion
			width: 15%;
			top: 26%;
			left: 61%;
			z-index: 999;
			-webkit-animation-duration: 1s;
			-webkit-animation-delay: 8.5s;
			transition-duration 0.5s
		#seis
			left: 38%;
			top: 7%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 3s;
			transition-duration 0.5s
		#ocho 
			left: 33%;
			top: 64%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 6.5s;
			transition-duration 0.5s
		#implementacion
			left: 61.1%;
			top: 64%;
			width: 15%;
			z-index 999
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 11.5s;
			transition-duration 0.5s
		#seis-point, #seis-point-red, #ocho-point-blue, #ocho-point-red
			position: absolute;
			width: 20px;
			height: 20px;
			top: 19.5%;
			left: 45%;
			border-radius: 50%;
			background-color: #999;
			z-index: 99;
			-webkit-animation-duration: .5s;
			-webkit-animation-delay: .35s;
		#seis-point-red
			background-color #b90c2f
			left: 68%;
			top: 38%;
		#ocho-point-blue
			background-color: #009dde
			left: 39.5%;
			top: 76%;
		#ocho-point-red
			left: 67.5%;
			top: 76%;
			background-color: #b90c2f
		#seis:hover, #book:hover, #creacion:hover, #ocho:hover, #implementacion:hover
			transform scale(1.2)
		.line-gray, .line-blue
			top: 0;
			height 100%
			width 100%
			z-index 9
			span 
				position: absolute;
				height .55em 
				width 0%
				
		.line-gray
			span 
				background-color: #74787b
			.one 
				left: 0;
				top: 12.5%;
				transition-duration 2.5s
				transition-delay 1s
			.second
				left: 14.8%;
				top: 60.5%;
				width: .7%;
				height: 0;
				transition-duration 1s
				transition-delay 2.3s
			.third
				left: 18.5%;
				top: 76.7%;
				transition-duration 2s
				transition-delay 2.4s
				height: 1.25%;
			.four
				left: 46.5%;
				bottom: 22%;
				width: 0;
				transition-duration 2s
				transition-delay 5s
			
			.one.start
				width: 15.5%;
			.second.start
				height: 11.5%;
			.third.start
				width: 21.7%;
			.four.start	
				width: 22%;
		.line-blue
			span
				background-color: #1d4f8f
			.one 
				left: 0;
				top: 92.2%;
				transition-duration 2.5s
				transition-delay 1s
			.second
				width: .7%;
				left: 29.7%;
				bottom: 13.5%;
				transition-duration 1.5s
				transition-delay 5s
				height 0
			.third
				width: 0;
				height: 1.3%;
				left: 31.7%;
				top: 19.7%;
				transition-duration 3s
				transition-delay 2s
			.four
				left: 51.8%;
				top: 20.5%;
				width: 0;
				transition-duration 2s
				transition-delay 5s
			.five
				left: 68.5%;
				top: 23.5%;
				height: 0;
				width: .65%;
				transition-duration 2s
				transition-delay 5s
			.one.start
				width: 26.8%;
			.second.start
				height: 63%;
			.third.start
				width: 13.5%;
			.four.start	
				width: 15.2%
			.five.start	
				height: 16.5%;
	.info4
		.curve-gris-one
			left: 11.5%;
			top: 66.2%;
			width: 5%;
		.curve-gris-second
			left: 32.9%;
			top: 85.3%;
			width: 4.2%;
		.curve-gris-third
			left: 34%;
			top: 37.91%;
			width: 3.3%;
		.curve-blue-one
			left: 63.5%;
			top: 37.8%;
			width: 2.95%;
		.curve-gris-one.start,.curve-gris-second.start, .curve-blue-one.start, .curve-blue-second.start,.curve-gris-third.start
			display block
		#book
			left: 3%;
			top: 13%;
			width: 29%;
			-webkit-animation-duration: 1.5s;
			-webkit-animation-delay: .5s;
			transition-duration 0.5s
		#creacion
			width: 15%;
			top: 10%;
			left: 58%
			z-index: 999;
			-webkit-animation-duration: 1s;
			-webkit-animation-delay: 8.5s;
			transition-duration 0.5s
		#seis
			left: 40%;
			top: 28%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 3s;
			transition-duration 0.5s
		#ocho 
			left: 55%;
			top: 59%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 6.5s;
			transition-duration 0.5s
		#implementacion
			left: 78%;
			top: 61%;
			width: 16%;
			z-index 999
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 9.5s;
			transition-duration 0.5s
		#seis-point, #seis-point-red, #ocho-point-blue, #ocho-point-red
			position: absolute;
			width: 20px;
			height: 20px;
			top: 38.5%;
			left: 47%;
			border-radius: 50%;
			background-color: #999;
			z-index: 99;
			-webkit-animation-duration: .5s;
			-webkit-animation-delay: .35s;
		#seis-point-red
			background-color #b90c2f
			left: 64.5%;
			top: 22%;
		#ocho-point-blue
			background-color: #009dde
			left: 61.5%;
			top: 71.5%;
		#ocho-point-red
			left: 85%;
			top: 71.5%;
			background-color: #b90c2f
		#seis:hover, #book:hover, #creacion:hover, #ocho:hover, #implementacion:hover
			transform scale(1.2)
		.line-gray, .line-blue
			top: 0;
			height 100%
			width 100%
			z-index 9
			span 
				position: absolute;
				height .55em 
				width 0%
				
		.line-gray
			span 
				background-color: #009bdd
			.one 
				left: 0;
				top: 41%;
				transition-duration 2.5s
				transition-delay 1s
			.second
				left: 11.8%;
				top: 62%;
				width: .85%;
				height: 0;
				transition-duration 1s
				transition-delay 2.3s
			.third
				left: 16.25%;
				top: 72.5%;
				transition-duration 2s
				transition-delay 2.8s
				height: 1.4%;
			.four
				left: 62.5%;
				bottom: 26%;
				height: 1.4%;
				width: 0;
				transition-duration 2s
				transition-delay 5s
			
			.one.start
				width: 15.5%;
			.second.start
				height: 5.5%
			.third.start
				width: 46.3%;
			.four.start	
				width: 23%;
		.line-blue
			span
				background-color: #74787b
			.one 
				left: 0;
				top: 91.5%;
				height: 1.45%;
				transition-duration 2.5s
				transition-delay 1s
			.second
				width: .8%;
				left: 34.8%;
				bottom: 13.5%;
				height 0
				transition-duration 2s
				transition-delay 4.2s
			.third
				width: 0;
				height: 1.4%;
				left: 37%;
				top: 39.7%;
				transition-duration 3s
				transition-delay 5s
			.four
				left: 53.8%;
				top: 40.5%;
				width: 0;
				height: 1.6%;
				transition-duration 2s
				transition-delay 6s
			.five
				left: 65%;
				bottom: 61.5%;
				height: 0;
				width: .7%;
				transition-duration 2s
				transition-delay 8s
			.one.start
				width: 33%;
			.second.start
				height: 43%;
			.third.start
				width: 9.9%;
			.four.start	
				width: 10.2%;
			.five.start	
				height: 15.5%;
	.info5
		.curve-gris-one
			left: 70%;
			top: 20.2%;
			width: 3.5%;
		.curve-gris-second
			left: 7.85%;
			top: 7.5%;
			width: 5.9%;
		.curve-gris-third
			left: 9.9%;
			top: 78.1%;;
			width: 4.5%;
		.curve-blue-one
			left: 49.5%;
			top: 80.8%;
			width: 3.9%;
		.curve-blue-second
			left: 50.7%;
			top: 64%;
			width: 3.9%;
		.curve-gris-one.start,.curve-gris-second.start, .curve-blue-one.start, .curve-blue-second.start,.curve-gris-third.start, .curve-blue-second.start
			display block
		#book
			left: 5%;
			top: 20%;
			width: 29%;
			-webkit-animation-duration: 1.5s;
			-webkit-animation-delay: .5s;
			transition-duration 0.5s
		#creacion
			width: 15%;
			top: 30%;
			left: 65%;
			z-index: 999;
			-webkit-animation-duration: 1s;
			-webkit-animation-delay: 8.5s;
			transition-duration 0.5s
		#seis
			left: 39%;
			top: 11%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 3s;
			transition-duration 0.5s
		#ocho 
			left: 28%;
			top: 69.5%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 6.5s;
			transition-duration 0.5s
		#implementacion
			left: 55%;
			top: 57%;
			width: 15%;
			z-index: 999;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 11.5s;
			transition-duration 0.5s
		#seis-point, #seis-point-red, #ocho-point-blue, #ocho-point-red
			position: absolute;
			width: 20px;
			height: 20px;
			top: 84%;
			left: 35%;
			border-radius: 50%;
			background-color: #999;
			z-index: 99;
			-webkit-animation-duration: .5s;
			-webkit-animation-delay: .35s;
		#seis-point-red
			background-color #b90c2f
			left: 45.5%;
			top: 23%;
		#ocho-point-blue
			background-color: #009dde
			left: 61.5%;
			top: 66.5%;
		#ocho-point-red
			left: 71%;
			top: 41.5%;
			background-color: #b90c2f
		#seis:hover, #book:hover, #creacion:hover, #ocho:hover, #implementacion:hover
			transform scale(1.2)
		.line-gray, .line-blue
			top: 0;
			height 100%
			width 100%
			z-index 9
			span 
				position: absolute;
				height .55em 
				width 0%
				
		.line-gray
			span 
				background-color: #009bdd
			.one 
				left: 0;
				top: 24%;
				height: 1.5%;
				transition-duration 2.5s
				transition-delay 1s
			.second
				left: 53%;
				top: 23.7%;
				width: 0;
				height: 1.3%;
				transition-duration 1s
				transition-delay 2.3s
			.third
				left: 71.5%;
				top: 26.5%;
				transition-duration 2s
				transition-delay 3.5s
				width: .7%;
				height: 0;
			.four
				left: 62.5%;
				bottom: 26%;
				height: 1.4%;
				width: 0;
				transition-duration 2s
				transition-delay 5s
			
			.one.start
				width: 47%
			.second.start
				width: 17%;
			.third.start
				height: 15.3%;
			.four.start	
				width: 23%;
		.line-blue
			span
				background-color: #1d4f8f
			.one 
				left: 0;
				top: 11.7%;
				height: .8%;
				transition-duration 1s
				transition-delay 1s
			.second
				width: .55%;
				left: 11.2%;
				top: 18.5%;
				height 0
				transition-duration 2s
				transition-delay 3s
			.third
				width: 0;
				height: .9%;
				left: 14%;
				top: 84.3%;
				transition-duration 1.5s
				transition-delay 4.7s
			.four
				height: .9%;
				top: 84.9%;
				left: 42%;
				width: 0;
				transition-duration 1.5s
				transition-delay 5.8s
			.five
				left: 51.5%;
				bottom: 18.5%;
				height: 0;
				width: .5%;
				transition-duration 1s
				transition-delay 7.5s
			.six 
				height: .95%;
				top: 67.5%;
				left: 54%;
				width: 0;
				transition-duration 1s
				transition-delay 9s
			.one.start
				width: 7.8%;
			.second.start
				height: 60%;
			.third.start
				width: 20%;
			.four.start	
				width: 7.5%;
			.five.start	
				height: 10.5%;
			.six.start	
				width: 8%;
	.info6
		.curve-gris-one
			left: 28%;
			top: 4.3%;
			width: 5.2%;
		.curve-gris-second
			left: 30.5%;
			top: 23%;
			width: 4.2%;
		.curve-gris-third
			left: 13.8%;
			top: 9%;
			width: 5.5%;
		.curve-blue-one
			left: 17.3%;
			top: 72%;
			width: 6.3%;
		.curve-blue-second
			left: 54%;
			top: 75%;
			width: 5.6%;
		.curve-blue-third
			left: 57.4%;
			top: 30.4%;
			width: 4.4%;
		.curve-gris-one.start,.curve-gris-second.start, .curve-blue-one.start, .curve-blue-second.start,.curve-gris-third.start, .curve-blue-second.start, .curve-blue-third.start,.curve-gris-third.start
			display block
		#book
			left: 2%;
			top: 19%;
			width: 29%;
			-webkit-animation-duration: 1.5s;
			-webkit-animation-delay: .5s;
			transition-duration 0.5s
		#creacion
			width: 15%;
			top: 18%;
			left: 67%;
			z-index: 999;
			-webkit-animation-duration: 1s;
			-webkit-animation-delay: 8.5s;
			transition-duration 0.5s
		#seis
			left: 40.3%;
			top: 16.5%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 3s;
			transition-duration 0.5s
		#ocho 
			left: 38.5%;
			top: 71%;
			width: 15%;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 6.5s;
			transition-duration 0.5s
		#implementacion
			left: 55%;
			top: 57%;
			width: 15%;
			z-index: 999;
			-webkit-animation-duration: 2s;
			-webkit-animation-delay: 11.5s;
			transition-duration 0.5s
		#seis-point, #seis-point-red, #ocho-point-blue, #ocho-point-red
			position: absolute;
			width: 20px;
			height: 20px;
			top: 82%;
			left: 45%;
			border-radius: 50%;
			background-color: #999;
			z-index: 99;
			-webkit-animation-duration: .5s;
			-webkit-animation-delay: .35s;
		#seis-point-red
			background-color #b90c2f
			left: 47%;
			top: 28.5%;
		#ocho-point-blue
			background-color: #009dde
			left: 73.5%;
			top: 28.5%;
		#ocho-point-red
			left: 71%;
			top: 41.5%;
			background-color: #b90c2f
		#seis:hover, #book:hover, #creacion:hover, #ocho:hover, #implementacion:hover
			transform scale(1.2)
		.line-gray, .line-blue
			top: 0;
			height 100%
			width 100%
			z-index 9
			span 
				position: absolute;
				height .55em 
				width 0%
				
		.line-gray
			span 
				background-color: #1d4f8f
			.one 
				left: 0;
				top: 6.67%;
				height: 1.2%;
				transition-duration 2.5s
				transition-delay 1s
			.second
				left: 31.1%;
				top: 13%;
				width: .6%;
				height: 0;
				transition-duration 1s
				transition-delay 4.6s
			.third
				left: 34.5%;
				top: 30.1%;
				transition-duration 2s
				transition-delay 4s
				width: 0;
				height: 1.1%;
			.four
				left: 34%;
				top: 30%;
				height: 1.2%;
				width: 0;
				transition-duration 2s
				transition-delay 5s
			.five
				left: 54%;
				top: 29.2%;
				height: 1%;
				width: 0;
				transition-duration 2s
				transition-delay 8s
			.one.start
				width: 28.3%;
			.second.start
				height: 13%;
			.third.start
				height: 15.3%;
			.four.start	
				width: 14%;
			.five.start	
				width: 21%
		.line-blue
			span
				background-color: #b80e2f
			.one 
				left: 0;
				top: 11.8%;
				height: .95%;
				transition-duration 1.5s
				transition-delay 1s
			.second
				width: .52%;
				left: 18.1%;
				top: 18%
				height 0
				transition-duration .5s
				transition-delay 3s
			.third
				width: 0;
				height: .9%;
				left: 21%;
				top: 83%;
				transition-duration 3s
				transition-delay 2.8s
			.four
				height: .7%;
				top: 83.6%;
				left: 52%;
				width: 0;
				transition-duration 2s
				transition-delay 5s
			.five
				left: 58.4%;
				bottom: 21%;
				height: 0;
				width: .55%;
				transition-duration 2s
				transition-delay 5s
			.six 
				height: .95%;
				top: 67.5%;
				left: 54%;
				width: 0;
				transition-duration 2s
				transition-delay 5s
			.one.start
				width: 14.8%;
			.second.start
				height: 59%;
			.third.start
				width: 24.1%;
			.four.start	
				width: 3.5%;
			.five.start	
				height: 45%;
@media( min-width 992px)
	nav.list-menu
		display none !important
@media( max-width 1200px)
	.mix .circle span 
		font-size .8em
	.noticias .latest-news
		font-size .85em
	.noticias .img-eventos
		width 180px
		height 180px
@media( max-width 992px)
	.search-box
		width 100%
		.logo-decada, form
			display none
	#nav-icon3
		display block
	header
		nav 
			float: right;
			display: none;
			position: absolute;
			right: 0;
			text-align: right;
			top: 7em;
			padding-left: 0;
			padding-bottom: 0;
			background-color: #fff;
			border: 1px solid rgba(140,140,140,0.21);
			box-shadow: 1px 2px 7px -2px rgb(120, 120, 123);
			ul 
				margin 0
				padding 0
				li 
					display: block;
					border-bottom: 1px solid rgba(0, 0, 0, 0.14);
					padding-left: 2em;
					a
						display block
						padding .8em 1em
				li:last-child
					border 0
	.img-eventos
		width 180px
		height 180px
	.eventos .indice
		width: 30px;
		height: 30px;
		border: 3px solid #999;
		font-size: 1.3em;
		margin 0 auto 1em
		left 45%
	.eventos article
		font-size .85em
		padding 4em 1em 1em 1em
	.eventos 
		.slick-next
			right 41.5%
		.slick-prev
			left 41.5%
	.mix article
		font-size .95em
	.mix .circle
		width: 200px;
		height: 200px;
		span 
			font-size: .85em
	.mix .circle.yellow
		top: 16%;
		left: 6%;
	.mix article h4
		font-size .85em
	.noticias .img-eventos
		width 150px
		height 150px
	.noticias .niceGallery ul.entries-columns img
		height 100px
	.noticias .niceGallery ul.entries-columns li h4
		font-size .6em
	.info
		font-size .85em
	#register
		.eventos article
			padding-top 0
	.cronograma article
		font-size .8em
	.box-heading h1
		font-size 2.4em
	.register .box-form
		margin-bottom 4em
	.diapo article img
		max-width 50px
	.list-menu
		display block
@media( max-width 769px)
	.eventos article
		font-size .73em
	.img-eventos
		width 140px
		height 140px
	.mix .circle
		width: 200px;
		height: 200px;
		span 
			font-size .7em
	.mix .circle.blue
		top: 20%;
		left: 46%;
	footer
		margin-top 2em
	.eventos .slick-next
		right: 35.5%;
	.eventos .slick-prev
		left: 35.5%;
	.noticias h2
		text-align center
	.details
		display none !important
	.cronograma .two-col > ul
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		li 
			margin-bottom 2em
	.libro article .btns
		text-align center
	.heading
		text-align center
	.diapo article h3
		font-size: 1.3em;
	.diapo article
		font-size: .8em;
	.diapo article img
		max-width 30px
@media( max-width 680px)
	.mix .circle.blue 
		top 8%
	.mix .circle.yellow
		left: 19%;
		top: 20%
		top 8%
	.mix .circle.red
		left: 32%;
		top: 45%;
	.mix .circle span 
		font-size .6em
	.noticias .niceGallery ul.entries-columns
		-webkit-column-count: 3;
		-webkit-column-gap: 3px;
		-moz-column-count: 3;
		-moz-column-gap: 3px;
		column-count: 3;
		column-gap: 3px;
	
@media( max-width 480px)
	.img-eventos
		width 200px
		height 200px
	.mix .circle.yellow
		left 0
		top 20%
	.mix .circle.blue
		left: 44%;
	.mix .circle span 
		font-size .6em
	.eventos article
		font-size .8em
	.heading
		font-size 1.8em
	.mix .circle
		width: 180px;
		height: 180px;
	.box-heading h1
		font-size 1.8em
	.detail .lugar, .detail .horario
		font-size .9em
	.detail .lugar
		width 70%
		padding-left 0em
		h4, small
			padding-left 1.2em
	.detail .horario
		width 30%
	.register .eventos .slick-prev
		left 75%