.infografia .info3 .line-gray span, .infografia .info3 .line-blue span
	height: 1.25%;
#book img
	width 100%
.infografia .info3 #book
	top: 4%;
.infografia .info3 .line-gray .second
	top: 53.5%;
.infografia .info3 .line-gray .second.start
	height: 18.5%
@media ( max-width 1200px )
	.infografia .info3 .line-blue .four.start, .infografia .info3 .line-gray .four.start, .infografia .info3 .line-blue .one.start, .infografia .info3 .line-blue .one.start
		height: 1.15%;
	.infografia .info3 .line-blue .one
		top: 92.5%;
	.infografia .info1 .curve-blue-one
		top: 77.5%;
	.infografia .info1 .curve-gris-one
		top: 38.2%;
	.infografia .info1 .curve-blue-second
		top: 82%
	/*INFO 2*/
	.infografia .info2 .curve-gris-one
		top: 58.9%	
	.infografia .info2 .curve-blue-one
		top: 75.7%;
		width: 3.2%;
	/*INFO 3*/
	.infografia .info3 .curve-blue-one
		left: 14.1%;
		top: 71.5%;
		width: 4.65%;
	.infografia .info3 .curve-gris-third
		top: 16.95%;
	.infografia .info3 .curve-gris-one
		left: 26.5%;
		top: 86.1%;
	.infografia .info3 .line-gray .second.start
		height: 19%;
		top: 52.5%;
	/*INFO 4*/
	.infografia .info4 .curve-gris-second
		top: 86%;
	.infografia .info4 .curve-gris-one
		top: 66.8%;
	.infografia .info4 .curve-gris-third
		top: 38%;
	.infografia .info4 .curve-blue-one
		left: 63.55%;
		top: 38.2%;
	.infografia .info5 .curve-gris-second
		top: 7.68%
	.infografia .info5 .curve-gris-third
		top: 78.5%;
	.infografia .info5 .curve-blue-one
		top: 81.2%
	.infografia .info5 .curve-blue-second
		left: 50.6%;	
		width: 4.2%;
	.infografia .info5 .curve-gris-one
		left: 69.95%;
		top: 20.5%;
		width: 3.6%;
	/*info 6*/
	.infografia .info6 .line-gray .one
		height: 1.1%;
	.infografia .info6 .line-gray .second
		width: .7%
	.infografia .info6 .curve-gris-second
		left: 30.6%;
		top: 23.8%;
		width: 4.2%;
	.infografia .info6 .curve-gris-third
		top: 9.2%;
	.infografia .info6 .curve-blue-one
		left: 17.4%;
		top: 73%;
	.infografia .info6 .curve-blue-second
		top: 75.75%;
	.infografia .info6 .line-blue .five
		width: .5%
	.infografia .info6 .curve-blue-third
		left: 57.1%;
		top: 30.2%;
		width: 5%;
@media ( max-width 992px )
	.infografia .info1 .line-gray span, .infografia .info1 .line-blue span
		height 1.1%
	/*INFO 1*/
	.infografia .info1 .line-gray .third
		width: .8%;
	.infografia .info1 .curve-blue-one
		left: 12%;
		width: 4.9%;
		top: 77.5%;
	.infografia .info1 .curve-gris-one
		left: 58.6%;
		top: 37.8%;
		width: 3.5%;
	.infografia .info1 .curve-blue-second
		top: 81.2%;
	/*INFO 2*/
	.infografia .info2 .curve-gris-one
		left: 6.3%;
		top: 58.9%;
	.infografia .info2 .curve-blue-one
		width: 3.25%;
	.infografia .info2 .line-gray .four
		left: 58.4%;
		bottom: 61%;
		width: .7%;
	.infografia .info2 .line-gray .five
		left: 59.5%;
		top: 14%;
	/*INFO 3*/
	.infografia .info3 .line-gray span, .infografia .info3 .line-blue span
		height: 1.28%;
	.infografia .info3 .line-gray .second.start
		height: 18.5%;
	.infografia .info3 .curve-blue-one
		left: 14.1%;
		top: 71.4%;
	.infografia .info3 .line-blue .one
		height: 1.28%;
		top: 92%;
	.infografia .info3 .curve-gris-one
		left: 26.6%;
		top: 85.8%;
		width: 4.75%;
	.infografia .info3 .curve-gris-second
		top: 17.4%;
	.infografia .info3 .curve-gris-third
		top: 16.9%;
	/*INFO 4*/
	.infografia .info4 .line-gray span, .infografia .info4 .line-blue span
		height: 1.45%;
	.infografia .info4 .curve-gris-one
		top: 66.8%;
	.infografia .info4 .curve-gris-third
		top: 38.2%;
	.infografia .info4 .curve-blue-one
		left: 63.6%;
		top: 37.85%;
		width: 2.95%;
	.infografia .info4 .curve-gris-second
		top: 86%;
	/*INFO 5*/
	.infografia .info5 .line-gray span, .infografia .info5 .line-blue span
		height: .94%;
	.infografia .info5 .curve-gris-second
		top: 7.5%;
	.infografia .info5 .curve-gris-third
		top: 78.5%;
	.infografia .info5 .curve-blue-one
		left: 49.3%;
		top: 80.8%;
		width: 4.2%;
	.infografia .info5 .curve-blue-second
		top: 64.2%;
	.infografia .info5 .curve-gris-one
		top: 20.6%;
	/*INFO 6*/
	.infografia .info6 .line-gray span, .infografia .info6 .line-blue span
		height: 1.1%;
	.infografia .info6 .line-gray .one
		height: 1.1%;
	.infografia .info6 .line-gray .four
		top: 29.4%;
		height: 1.1%;
	.infografia .info6 .curve-gris-third
		top: 9.3%;
	.infografia .info6 .curve-blue-one
		top: 73%;
	.infografia .info6 .curve-blue-second
		top: 75.75%
	.infografia .info6 .curve-blue-third
		top: 30.2%;
		width: 4.7%;
	.infografia .info6 .curve-gris-second
		top: 23.1%;
	.infografia .info6 .curve-gris-one
		top: 4.5%; 
		
	.infografia .info3 .line-gray .second.start
		top: 52.5%
		
@media ( max-width 480px )
	/*INFO 1*/
	.infografia .info1 .curve-gris-second
		top: 11.6%;
	.infografia .info1 .curve-gris-one
		top: 35.8%;
	.infografia .info1 .curve-blue-second
		top: 78.8%;
	.infografia .info1 .curve-blue-one
		top: 76.5%;
	.infografia .info1 .line-blue .third
		height: 1.1%;
	/*INFO 2*/
	.infografia .info2 .line-gray span, .infografia .info2 .line-blue span
		height: 1.1%;
	.infografia .info2 .curve-blue-one
		top: 73.7%;
	.infografia .info2 .curve-gris-one
		top: 57.7%;
	.infografia .info2 .curve-gris-second
		top: 35.5%;
	.infografia .info2 .curve-gris-third
		top: 10.5%;
	.infografia .info3 .curve-blue-one
		top: 70.4%;
	.infografia .info3 .curve-gris-third
		top: 15.8%;
	.infografia .info3 .curve-gris-one
		top: 84.8%;
	.infografia .info4 .curve-gris-second
		top: 84.5%;
	.infografia .info4 .curve-gris-one
		top: 66.1%;
	.infografia .info4 .curve-gris-third
		top: 36.2%;
	.infografia .info4 .curve-blue-one
		top: 35.5%;
	/*info 5*/
	.infografia .info5 .curve-gris-third
		top: 77%
	.infografia .info5 .curve-blue-one
		top 79%
	.infografia .info5 .curve-blue-second
		top: 63%;
	.infografia .info5 .curve-gris-one
		top: 18.6%;
	/*info 6*/
	.infografia .info6 .curve-gris-third
		top: 9%;
	.infografia .info6 .curve-gris-second
		top: 22%;
	.infografia .info6 .curve-blue-third
		top: 29%;
		left: 57.2%;
	.infografia .info6 .line-gray .one
		height: 1.4%;
	
	.infografia .info3 .line-gray .second.start
		top: 53.5%;
@media ( max-width 375px )
	.infografia .info1 .curve-gris-second
		top: 11%;
	.infografia .info1 .curve-gris-one
		top: 35.3%;
	.infografia .info1 .curve-blue-second
		top: 78.3%;
	.infografia .info1 .curve-blue-one
		top: 76%;
	/*info 2*/
	.infografia .info2 .curve-gris-one
		top: 57%;
	.infografia .info2 .curve-gris-second
		top: 34.5%;
		left: 57%;
	.infografia .info2 .curve-blue-one
		top: 72.7%;
	.infografia .info2 .curve-gris-third
		top: 10%;
	.infografia .info3 .curve-blue-one
		top: 69.3%;
		
	.infografia .info3 .curve-gris-one
		top: 83.8%;
	.infografia .info3 .curve-gris-third
		top: 14.8%;
	.infografia .info4 .curve-gris-one
		top: 65.1%;
	.infografia .info4 .curve-gris-second
		top: 83.8%
	.infografia .info4 .curve-gris-third
		top: 35.2%;
	.infografia .info4 .curve-blue-one
		top: 35.3%;
	.infografia .info5 .curve-gris-one
		top: 17.6%;
	.infografia .info6 .curve-gris-one
		top: 3.5%
	.infografia .info6 .curve-gris-second
		top: 21%;
	.infografia .info6 .curve-blue-second
		top: 74.75%
@media ( max-width 320px )
	.infografia .info1 .curve-blue-one
		top: 75%;
	.infografia .info1 .curve-gris-one
		top: 34%;
		width: 3%;
	.infografia .info1 .curve-blue-second
		top: 77%
	.infografia .info1 .curve-gris-second
		top: 10%;
		width: 2.7%;
	.infografia .info2 .curve-blue-one
		top: 71.7%;
	.infografia .info2 .curve-gris-third
		top: 8.5%;
	.infografia .info3 .curve-blue-one
		top: 68.15%;
	.infografia .info3 .curve-gris-one
		top: 82.8%;
	.infografia .info3 .curve-gris-third
		top: 13%;
	.infografia .info4 .curve-gris-second
		top: 82.8%;
	.infografia .info4 .curve-gris-one
		top: 64.3%
	.infografia .info4 .curve-gris-third
		top: 34.2%;
	.infografia .info4 .curve-blue-one
		top: 34.3%;
		left: 63.4%;
	.infografia .info5 .curve-gris-second
		top: 6.5%;
	.infografia .info5 .curve-gris-third
		top: 75.5%;
	.infografia .info5 .curve-blue-one
		top: 77.8%
	.infografia .info5 .curve-blue-second
		top: 61.3%;
	.infografia .info5 .curve-gris-one
		top: 17%;
	.infografia .info6 .curve-gris-one
		top: 2.5%;
	.infografia .info6 .curve-gris-third
		top: 7.5%;
	.infografia .info6 .curve-blue-one
		top: 71.5%
	.infografia .info6 .curve-blue-second
		top: 73.75%;
	.infografia .info6 .curve-gris-second
		top: 20%;
	.infografia .info6 .curve-blue-third
		top: 27%;