<div class="col-md-6 col-sm-6 col-xs-6 {{=post.user_name}} box-feed">
	<article>
		<img class="stick" src="{{=site_url}}/wp-content/themes/hanan_sineace/img/twitter-bad.png">
		<img src="{{=site_url}}/wp-content/themes/hanan_sineace/img/icono-logo.png" class="pull-left">
		<h4>{{=post.user_name}} <br> <small>@SINEACEPERU</small></h4>
		<div class="clear"></div>
		<p>
			{{=post.text}}
		</p>
		<hr>
		<div class="date">{{=post.time}}</div>
	</article>
</div>